<%= form_with(model: @movie, local: true) do |form| %>
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@movie.errors.count, "erro") %> proibiu este filme de ser salvo:</h2>
        <ul>
          <% @movie.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :title, "Título" %><br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :rating, "Classificação" %><br>
      <%= form.text_field :rating %>
    </div>
  
    <div>
      <%= form.label :release_date, "Data de Lançamento" %><br>
      <%= form.date_field :release_date %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  