<h1>Filmes</h1>

<%= link_to 'Novo Filme', new_movie_path %>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Classificação</th>
      <th>Data de Lançamento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td>
          <%= link_to 'Mostrar', movie_path(movie) %> |
          <%= link_to 'Editar', edit_movie_path(movie) %> |
          <%= link_to 'Excluir', movie_path(movie), method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
